.App {
  font-family: sans-serif;
  text-align: center;
}

.reset {
  position: absolute;
  top: 30px;
  right: 20px;
}

@media (max-width: 900px) {
  .reset {
    /* Adjust the styles for smaller screens */
    position: absolute;
    top: 90vh;
    bottom: 15px;
    right: 20px;
  }
}
